:root {
    --black: #1e293b;
    --white: #f1f5f9;
    --grey: #e2e8f0;
    --darkgrey: #94a3b8;
    --darkblue: #1e3a8a;

    font-family: Roboto;
    font-size: 10px;
    color: var(--black);
    background-color: var(--white);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Containers*/
#container {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(2,50vw);
    grid-template-rows: 100px 1fr;
    width: 100vw;
    height: 100vh;
}

header:not(.preview) {
    grid-column: 1/3;
    grid-row: 0/1;
    font-size: 30px;
    padding: 2rem;
    color: var(--white);
    background-color: var(--black);
    z-index: 1;
    box-shadow: 0px 0px 3px 1px black;
}

header.preview {
    overflow: hidden;
    grid-column: 1/3;
    grid-row: 1/2;
    color: var(--white);
    background-color: var(--darkblue);
}

#form {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 50%);
    max-height: 90vh;
    font-size: 24px;
    background-color: var(--white);
}

#form > div:first-child {
    grid-column: 1/3;
}

#form > div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
}

#form > div:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
} 

#personal-information > div:first-of-type {
    display: flex;
    gap: 5rem;
}

#preview {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 125px 1fr;
    font-size: 24px;
    background-color: bisque;
    box-shadow: 0px 0px 10px 0.5px black;
}

#preview-main.preview {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--white);
    padding: 1rem 2.5rem;
}

#preview-sidebar {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--grey);
}

#preview-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    word-wrap: break-word;
    font-size: 2rem;
    padding: 3rem 2rem;
}

.preview.education,
.preview.experience {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding-right: 5rem;
}

.preview.education div,
.preview.experience div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin: 2rem 0;
}

.preview.education div:first-child,
.preview.experience div:first-child {
    align-items: flex-end;
}

/* text */
.date,
.description {
    font-size: 16px;
}

legend {
    margin: 1rem 0;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.preview.name {
    margin: 2rem 0;
    text-align: center;
    font-size: 80px;
}

.preview.header {
    padding-top: 1.5rem;
    text-align: center;
    font-size: 36px;
}

#preview-info div:not(.fake-img-bg) h3 {
    text-align: end;
    margin-bottom: 0.7rem;
}

#preview-info div:not(.fake-img-bg) p {
    font-size: 14px;
    text-align: end;
    margin-bottom: 1.25rem;
}

.preview.profile {
    margin: 1rem 0 2.5rem 0;
    font-size: 18px;
}

.preview.education h3,
.preview.experience h3{
    font-size: 20px;
}

hr {
    color: var(--black);
    background-color: var(--black);
}

/* Images */
.fake-img-bg {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-bottom: 2rem;
    background-color: var(--darkgrey);
    border-radius: 5px;
    transition: all ease-out 0.5s;
}

.fake-img {
    width: 46px;
    height: 46px;
    background: url('./img/image-plus-outline.png');
}

.fake-text {
    font-size: 16px !important;
}

/* Components */
button,
input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
}

input:not(#personal-information input) {
    margin-right: 10rem;
}

button {
    margin-top: 2rem;
    transition: filter ease-in-out 0.25s;
}

.fake-img-bg:hover,
button:hover {
    cursor: pointer;
    filter: brightness(90%);
}